<a href="https://colab.research.google.com/github/Jhansipothabattula/Data_Science/blob/main/Day188.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict Car Prices using Random Forest

In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Sample dataset (replace with a real dataset if available)
data = {
    'make': ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi', 'Toyota', 'Honda', 'Ford', 'BMW', 'Audi'],
    'model': ['Corolla', 'Civic', 'F-150', '3 Series', 'A4', 'Camry', 'Accord', 'Mustang', 'X5', 'Q5'],
    'year': [2015, 2017, 2018, 2016, 2015, 2018, 2016, 2015, 2017, 2018],
    'mileage': [50000, 30000, 40000, 60000, 45000, 35000, 55000, 65000, 30000, 20000],
    'price': [15000, 17000, 25000, 27000, 30000, 16000, 18000, 26000, 28000, 31000]
}

# Convert to DataFrame
df = pd.DataFrame(data)
print("Dataset:\n", df)

# Convert categorical columns to numeric using one-hot encoding
df_encoded = pd.get_dummies(df, columns=['make', 'model'])
print("\nEncoded Dataset:\n", df_encoded)

# Define features (X) and target (y)
X = df_encoded.drop('price', axis=1)  # Features
y = df_encoded['price']               # Target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"\nMean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

Dataset:
      make     model  year  mileage  price
0  Toyota   Corolla  2015    50000  15000
1   Honda     Civic  2017    30000  17000
2    Ford     F-150  2018    40000  25000
3     BMW  3 Series  2016    60000  27000
4    Audi        A4  2015    45000  30000
5  Toyota     Camry  2018    35000  16000
6   Honda    Accord  2016    55000  18000
7    Ford   Mustang  2015    65000  26000
8     BMW        X5  2017    30000  28000
9    Audi        Q5  2018    20000  31000

Encoded Dataset:
    year  mileage  price  make_Audi  make_BMW  make_Ford  make_Honda  \
0  2015    50000  15000      False     False      False       False
1  2017    30000  17000      False     False      False        True
2  2018    40000  25000      False     False       True       False
3  2016    60000  27000      False      True      False       False
4  2015    45000  30000       True     False      False       False
5  2018    35000  16000      False     False      False       False
6  2016    55000  18000      False     False      False        True
7  2015    65000  26000      False     False       True       False
8  2017    30000  28000      False      True      False       False
9  2018    20000  31000       True     False      False       False

   make_Toyota  model_3 Series  model_A4  model_Accord  model_Camry  \
0         True           False     False         False        False
1        False           False     False         False        False
2        False           False     False         False        False
3        False            True     False         False        False
4        False           False      True         False        False
5         True           False     False         False         True
6        False           False     False          True        False
7        False           False     False         False        False
8        False           False     False         False        False
9        False           False     False         False        False

   model_Civic  model_Corolla  model_F-150  model_Mustang  model_Q5  model_X5
0        False           True        False          False     False     False
1         True          False        False          False     False     False
2        False          False         True          False     False     False
3        False          False        False          False     False     False
4        False          False        False          False     False     False
5        False          False        False          False     False     False
6        False          False        False          False     False     False
7        False          False        False           True     False     False
8        False          False        False          False     False      True
9        False          False        False          False      True     False

Mean Squared Error: 22648250.0
R-squared Score: 0.25129752066115707