<a href="https://colab.research.google.com/github/Jhansipothabattula/Machine_Learning/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Aggregation and Grouping in pandas
**Operations**

1.Iterate over groups

2.Apply aggregation

In [ ]:
grouped = df.groupby("column_name")
for name, group in grouped:
  print(name)
  print(group)
grouped.mean()
grouped.sum()
# Aggregation function :- used to group many columns
df.groupby("category_column")["numeric_column"].mean()
df.groupby("category_column").agg({"numeric_column":["mean", "max", "min"]})
# Using pivot table
pivot = df.pivot_table(
    values="numeric_column",
    index="category_column",
    aggfunc="mean"
)
# Custom aggregation(custom function using .agg())
def range_func(x):
  return x.max() - x.min()
df.groupby("category_column")["numeric_column"].agg(range_func)
# Statistics(mean)
df.groupby("category_column")["numeric_column"].mean()
df.groupby("category_column")["numeric_column"].max()
df.groupby("category_column")["numeric_column"].min()
# Statistics using multi aggregation
df.groupby("category_column").agg({"numeric_column":["mean", "max", "min"]})

In [1]:
# Exercise 1:- Group data by a categorical column
import pandas as pd
data = {
    "Class":["A", "B", "A", "B", "C", "C"],
    "Score":[85, 90, 88, 72, 95, 80],
    "Age":[15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)
print("Original Dataset: \n", df)
grouped = df.groupby("Class").mean()
print(grouped)

Original Dataset:
   Class  Score  Age
0     A     85   15
1     B     90   16
2     A     88   15
3     B     72   17
4     C     95   16
5     C     80   15
       Score   Age
Class
A       86.5  15.0
B       81.0  16.5
C       87.5  15.5

In [5]:
# Exercise 2 :- Calculate Summary Statistics for grouped data
import pandas as pd
data = {
    "Class":["A", "B", "A", "B", "C", "C"],
    "Score":[85, 90, 88, 72, 95, 80],
    "Age":[15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)
print("Original Dataset: \n", df)
grouped = df.groupby("Class").mean()
print(grouped)
stats = df.groupby("Class").agg(
    {"Score":["mean", "max", "min"], "Age":["mean", "max", "min"]}
)
print(stats)

Original Dataset:
   Class  Score  Age
0     A     85   15
1     B     90   16
2     A     88   15
3     B     72   17
4     C     95   16
5     C     80   15
       Score   Age
Class
A       86.5  15.0
B       81.0  16.5
C       87.5  15.5
      Score           Age
       mean max min  mean max min
Class
A      86.5  88  85  15.0  15  15
B      81.0  90  72  16.5  17  16
C      87.5  95  80  15.5  16  15